.card-container {
  text-align: center;
  padding: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid black;
}

p {
  padding: 1rem 0;
}

.card-container button {
  background: none;
  border: none;
  font-size: 2rem;
}
